
= image_tag "mentorhub_logo.png", class: 'mhlogo'
.home-page
  %h1.headline Move Learning Forward
  %p.sub-headline Engage and inspire learning in your organization by creating a mentoring culture.
  .form_style
    =link_to user_google_oauth2_omniauth_authorize_path, class:"login--google" do
      = image_tag "google--logo.png"
      Get started using Google

.getting-started
  %h2.getting-started__headline Getting started with mentorhub
  .getting-started__steps
    .step
      = image_tag "join_org.svg"
      %h2 Join
      %p Create or join your organisation. Add members to it by sending invitations.
    .step
      = image_tag "enroll_track.svg"
      %h2 Enroll
      %p Select a track to engage or inspire
    .step
      = image_tag "connect_to.svg"
      %h2 Connect
      %p Connect to the mentor or mentee related to the track selected.
    .step
      = image_tag "accelerate_growth.svg"
      %h2 Learn
      %p Connect to the mentor on topic and learn from the experiences.
