!!!
%html{:lang => 'en', 'ng-app' => 'mentorhub', :class => 'no-js'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MentorHub
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = action_cable_meta_tag
    = csrf_meta_tags
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}/
  %body{"ng-controller" => "BoardController"}
    = render 'layouts/header', board_view: true

    - if breadcrumbs.present?
      .bread_crumbs
        = breadcrumbs style: :bootstrap,class:""

    - flash.each do |message_type, message|
      %div{:class => "flash_message alert alert-#{message_type}"}= message

    .tab-content
      .tab-pane.user_exercise_style{"ng-class" => "{active: active_tab === 'user_tracks'}"}
        %div.loading-track
          %i.fa.fa-spinner.fa-pulse
        %div{"user-tracks" => ""}

      .tab-pane.user_exercise_style{"ng-class" => "{active: active_tab === 'user_mentee_tracks'}"}
        %div.loading-track
          %i.fa.fa-spinner.fa-pulse
        %div{"user-mentee-tracks" => ""}

    :javascript
      var PageConfig = {};
      $(document).ready(function(){
        setTimeout(function(){
          $(".flash_message" ).fadeOut("slow");
        }, 5000);
      });
      PageConfig.currentUser = #{current_user.to_json};
      PageConfig.mentor_requests = #{@mentor_requests.to_json};
      PageConfig.boardJson = #{@board_data.to_json};
