.container
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#your_exercise"} Your Exercises
    %li
      %a{"data-toggle" => "tab", :href => "#mentee_exercise"} Your Mentees Exercises

  .tab-content
    #your_exercise.tab-pane.active
      - if @user_exercise_tracks.present?
        - @user_exercise_tracks.each do |user_mtracks|
          - user_mtracks.track_instances.each do |ti|
            %ul.nav.nav-tabs
              %li
                %a{"data-toggle" => "tab", :href => "#si" } #{ti.name}
            .tab-content
              - ti.section_interactions.each do |si|
                #si.tab-pane
                  %p= si.title
                  %p= si.goal
                  %p= si.content
                  Resources:
                  - si.resources.each do |name,value|
                    = link_to name, value
                    %br


    #mentee_exercise.tab-pane
      - @mentoring_tracks.each do |m_track|
        - m_track.track_instances.each do |ti|
          .container
            - if ti.mentor_id == current_user.id
              %ul.nav.nav-tabs
                %li{class: "#{m_track.id == current_user.track_instances.first.mentoring_track_id ? "active" :false }"}
                  %a{"data-toggle" => "tab", :href => "#m_track_#{m_track.id}"} #{m_track.mentee.first_name}
              .tab-content
                - ti.section_interactions.each do |si|
                  %div{id: "#m_track_#{m_track.id}", class: "tab-pane.#{ m_track.id == current_user.track_instances.first.mentoring_track_id ? "active" : false}"}
                    %p= si.title
                    %p= si.goal
                    %p= si.content
                    Resources
                    - si.resources.each do |name,value|
                      = link_to name, value
                      %br
                    %br

                    - if si.todos.present?
                      %b Todos:
                      - si.todos.each do |todo|
                        %br
                        %b= todo.content

                    = form_for @todo, url: section_interaction_todos_path(si), method: :post do |f|
                      = f.label "Add a todo"
                      = f.text_field :content
                      = f.submit "Submit"
                      %br
                      %br

      - if current_user.track_instances.blank?
        %p You are not currently mentoring anyone. Click "Add a mentee track" in "My Mentees Track" to add mentees
