-breadcrumb :track, @track
.cover_photo
  .logo_track
    =image_tag "https://mentorhub-development.s3.amazonaws.com/uploads/track/image/4/html.png"
    -#=image_tag @track.image
  .content_cover
    %h3
      =@track.name
    .progress_bar
.sub_nav
  %h4.selected Exercises
#section
  - @sections.each do |section|
    .section_each
      %h5 Exercise
      .exercise_name
        %i.fa.fa-check-circle-o(aria-hidden="true")
        %h3= link_to section.title,"#"
      %p.exercise_description
        = section.content
      .section_resources
        - if section.resources.present?
          %h5 Resources
          - section.resources.each do |resource|
            .container-fluid
              .row
                -if resource[1].present?
                  = link_to resource[0], "//#{resource[1]}", target: "_blank"
                -else
                  %p= resource[0]
  .add_exercise.add_exercise_btn
    =link_to new_track_section_path, class: "add_exercise_link" do
      %span +
      Add an exercise
