- if @track_template.new_record?
  - breadcrumb :new_track_template
- else
  - breadcrumb :track_template, @track_template

#section_index
  .track_info
    .loading-track
      %i.fa.fa-spinner.fa-pulse
    = render "sections/track_template"

  .sub_nav
    %h4.selected Exercises

  #section
    .loading-sections
      %i.fa.fa-spinner.fa-pulse
    = render 'sections/templates'

  .add_exercise.add_exercise_btn
    %a.add_exercise_link
      %span +
      Add an exercise

  :javascript
    var PageConfig = {
      track: #{@track_template.to_json}
    };

    PageConfig.track.sections = #{@sections.to_json};
    PageConfig.track.editable = #{@track_template.new_record?};
    PageConfig.track.newRecord = #{@track_template.new_record?};
