- breadcrumb :track, @track

#section_index
  .cover_photo
    .logo_track
      = image_tag @track.image
    .content_cover
      %h3
        = @track.name
      .progress_bar

  .sub_nav
    %h4.selected Exercises

  #section
    = render 'templates'

  .add_exercise.add_exercise_btn
    %a.add_exercise_link
      %span +
      Add an exercise

  :javascript
    var PageConfig = {
      track: #{@track.to_json}
    };

    PageConfig.track.sections = #{@sections.to_json};
