- if @track.new_record?
  - breadcrumb :new_track
- else
  - breadcrumb :track, @track

#section_index
  .track_info
    = render "sections/track_template"

  .sub_nav
    %h4.selected Exercises

  #section
    = render 'sections/templates'

  .add_exercise.add_exercise_btn
    %a.add_exercise_link
      %span +
      Add an exercise

  :javascript
    var PageConfig = {
      track: #{@track.to_json}
    };

    PageConfig.track.sections = #{@sections.to_json};
    PageConfig.track.editable = #{@track.new_record?};
    PageConfig.track.newRecord = #{@track.new_record?};
