.container-fluid
  -breadcrumb :track, @track
  = link_to "Create Section", new_track_section_path, class: "btn-primary btn", type: "button"

  - @sections.each do |section|
    .row
      .col-md-8.col-md-offset-2.well
        %h3= link_to section.title,"#"
        %h4= section.goal

        - if section.resources.present?
          %h5 Resources
          - section.resources.each do |resource|
            .container-fluid
              .row
                -if resource[1].present?
                  = link_to resource[0], "//#{resource[1]}", target: "_blank"
                -else
                  %p= resource[0]
