= link_to "New Mentee Track",  new_mentoring_track_path, class: "track_list_btn btn btn-primary"
.track_list
  - if @mentoring_tracks.present?
    - @mentoring_tracks.each do |track|
      .track_card
        .logo_track
          = image_tag track.image.url
        .content_track
          %h3= link_to track.name, mentoring_track_path(track)
          .details
            .mentee_deadline
              %h4 to be completed by
              %p= track.deadline ? track.deadline : "N/A"
            .mentee_name
              %h4 Mentee
              %p= track.mentee.first_name
          .progress_bar
  - else
    .notice-board
      %h4 Currently, you are not mentoring anyone.
