- breadcrumb :add_mentoring_track, @add_mtrack

#add_mentee_track
  = render 'sections/templates'
  = render 'templates'

:javascript
  var MentoringTrackConfig = {
    tracks: #{@tracks.to_json},
    sections: #{@sections.to_json},
    users: #{@users.to_json},
    index: #{@index.to_json}
  };
