- breadcrumb :add_mentoring_track, @add_mtrack

.mentoring-tracks__container{"ng-controller" => "MentoringTrackNew"}
  %form
    .mentoring-tracks__selection
      .mentoring-tracks__selection__mentee{"ng-show" => "!self_track"}
        %label Select a Mentee
        %select{"data-role" => "listview", "ng-change" => "update_mentee()", "ng-model" => "selectMentee", "ng-options" => "user as user.first_name for user in users"}
          %option{:selected => "selected", :value => ""} Select Mentee
      .mentoring-tracks__selection__track
        %label Select a Track
        %select{"data-role" => "listview", "ng-change" => "update_mentee_track();showButtons = true;", "ng-model" => "selectTrack", "ng-options" => "track.name for track in tracks"}
          %option{:selected => "selected", :value => ""} Select Track
      .mentoring-tracks__selection__deadline
        %label Deadline
        %input{"ng-change" => "update_mentee_track_deadline()", "ng-model" => "deadline", :type => "date"}/
    .mentoring-tracks__track__sections
      %div{"ng-repeat" => "section in selectTrack.sections track by $index", "section-interactions-new" => ""}
      %a.track__section__new{"ng-click" => "add_section()"}
        %span +
        Add an exercise
      .confirm-track__btns
        %button.btn--raised{"ng-click" => "confirm_mentee_track($event)", :type => "submit", 'data-loading-text' => "<i class='fa fa-spinner fa-pulse'></i> Submitting..."} Confirm
        %button.btn--flat{"ng-click" => "reset()"} Cancel

:javascript
  var MentoringTrackConfig = {
    tracks: #{@tracks.to_json},
    sections: #{@sections.to_json},
    current_user: #{@current_user.to_json},
    users: #{@users.to_json},
    index: #{@index.to_json},
    mentor_requests: #{@mentor_requests.to_json}
  };
