- breadcrumb :add_mentoring_track, @add_mtrack

#add_mentee_track{"ng-controller" => "MentoringTrackNew"}
  %form.assign_form
    %h4
      Add a Mentee Track
    #select_box
      .select_a_mentee{"ng-if" => "!self_track"}
        %label Select a mentee
        %select#exerciseSuperCategory{"data-role" => "listview", "ng-change" => "update_mentee()", "ng-model" => "selectMentee", "ng-options" => "user as user.first_name for user in users"}
          %option{:selected => "selected", :value => ""} Select Mentee
      .select_a_track
        %label Select a track
        %select{"data-role" => "listview", "ng-change" => "update_mentee_track();showButtons = true;", "ng-model" => "selectTrack", "ng-options" => "track.name for track in tracks"}
          %option{:selected => "selected", :value => ""} Select Track
      %div
        %label Deadline
        %input{"ng-change" => "update_mentee_track_deadline()", "ng-model" => "deadline", :type => "date"}/
    %div{"ng-repeat" => "section in selectTrack.sections track by $index", "section-interactions-new" => ""}
  %div{"ng-show" => "showButtons"}
    .add_exercise.add_exercise_btn
      %a.add_exercise_link{"ng-click" => "add_section()"}
        %span +
        Add an exercise
    .buttons
      %input.btn.btn-primary.assign_next{"ng-click" => "reset()", :type => "button", :value => "Cancel"}/
      %input.btn.btn-primary.assign_next{"ng-click" => "confirm_mentee_track()", :type => "submit", :value => "Confirm"}/

:javascript
  var MentoringTrackConfig = {
    tracks: #{@tracks.to_json},
    sections: #{@sections.to_json},
    current_user: #{@current_user.to_json},
    users: #{@users.to_json},
    index: #{@index.to_json}
  };
