= link_to "New Track Template", new_track_template_path, class: "track_list_btn btn btn-primary"
.container-fluid
  .track_list
    - @track_templates.each do |track_template|
      .track_card
        .logo_track
          = image_tag track_template.image
        .content_track
          %h3= link_to track_template.name,track_template_path(track_template)
          %p
            = track_template.desc
          %h4.exercise_bottom
            %span= track_template.section_templates.count
            Exercises
