%nav
  =link_to root_path do
    =image_tag "mentorhub_logo.png",class:"logo"
  - if !user_signed_in?
    %ul.log_nav
      %li= link_to "Login", new_session_path(resource_name), class:"selected login_link_signup"
      %li= link_to "Sign Up", new_registration_path(resource_name), class:"selected selected_signup"
  - else
    %ul.primary_nav
      %li= link_to "Your Board", "#"
      %li= link_to "Learning Tracks", "#"
      %li= link_to "Mentees Tracks", mentoring_tracks_path
      %li= link_to "Tracks", tracks_path, class:"selected"
    %ul.profile
      %li= image_tag current_user.image
      %li.profile_name
        =current_user.name
      %li.dropdown
        %i.fa.fa-caret-down.dropdown-toggle( data-toggle="dropdown" aria-hidden="true")
        %ul.dropdown-menu.pull-right
          %li= link_to "logout", "users/signout"
