%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "MENTOR-HUB", root_path, id: "logo"
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %p.navbar-text= current_user.email
        %li
          %a{:href => tracks_path}All Tracks
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", "role" => "button"}
            =current_user.name
            %span.caret
          %ul.dropdown-menu
            %li= link_to "Edit My Profile", edit_user_registration_path
            %li= link_to "My Tracks", "#"
            %li.divider
            %li= link_to 'Logout', destroy_user_session_path, method: :delete
