- board_view ||= false

%header
  = link_to root_path, class: 'navbarbrand' do
    = image_tag "mentorhub_logo.png", class: 'mhlogo'

  .header__wrapper
    - if user_signed_in?
      - if board_view
        .menu{"ng-init" => "active_tab = 'user_tracks'", "ng-model" => "active_tab"}
          .menu__item{"ng-class" => "active_tab == 'user_tracks' ? 'active': 'inactive' ", "ng-click" => "change_tab('user_tracks')"}
            %a{:href => ""} Your Tracks
            %span.notification-dot{"ng-if" => "actionTodoForMyTracks()"}
          .menu__item{"ng-class" => "active_tab == 'user_mentee_tracks' ? 'active': 'inactive' ", "ng-click" => "change_tab('user_mentee_tracks')"}
            %a{:href => ""} Your Mentee Tracks
            %span.notification-dot{"ng-if" => "actionTodoForMyMenteeTracks()"}
          
      - if user_signed_in?
        %ul.userProfile
          -if current_user.image.present?
            %li.userProfile__image= image_tag current_user.image
          -else
            %li.userProfile__image= gravatar_for current_user
          %li.userProfile__name.drop
            = current_user.first_name
            %i.material-icons arrow_drop_down
            %ul
              %li= link_to "My Learning Tracks", "#"
              %li= link_to "Mentees Tracks", mentoring_tracks_path, class: active_class(c:  ['mentoring_tracks'])
              %li= link_to "Tracks", track_templates_path, class: active_class(c: ['sections','tracks'])
              %hr
              %li= link_to "Log out", destroy_user_session_path, method: :delete
      - else
        %ul
          %li= link_to "Login", new_user_session_path
          %li
            %button= link_to "Sign Up", new_user_registration_path
